.blue{
    width: 700px;
    height: 160px;
    background-color:#001b69;
}
.line{
    width: 700px;
    height: 27px;
    background-color:#ffc828;
}
.sun{
    font-size: 140px;
    color: #ffffff;
    margin-left: 100px;
}
.border{
    width: 700px;
    border: solid black;
    
}